<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <table border="3px" height="100" width="200">
        <tr>
            <th>pk/id</th>
            <th>Author</th>
            <th>Date</th>
        </tr>
        {% for ro in LRO %}
        <tr>
           <th align="center">{{ ro.pk }}</th>
           <th align="center">{{ ro.author }}</th>
           <th align="center">{{ ro.date }}</th>
           
        </tr>
         {% endfor %}
    </table>
</center>
</body>
</html>